[core]
        editor = "/sbin/nvim"
[user]
        name = ssyuand
        email = ssyuand@gmail.com
[alias]
        br = branch
        ck = checkout
        com = commit -m
        ll = log --graph --pretty=format:\"%C(yellow)%h %C(green)%ad (%ar) %C(bold blue)%an%Creset: %s\" --date=format:'%Y-%m-%d %H:%M'
        ls = log --graph --pretty=format:\"%C(yellow)%h %C(bold blue)%an %C(green)(%ar)%Creset: %s\" --date=format:'%Y-%m-%d %H:%M'
        rf = reflog
        st = status
        sh = show
[gc]
	reflogExpire = never
	reflogExpireUnreachable = never
